
.progress-bar {
	width: 200px;
	height: 25px;
	background: var(--clr-light);
	border: 5px solid var(--clr-green);
	position: relative;
	margin: 2em 0;
}
span {
	position: absolute;
	width: 10%;
	height: 18px;
	background: var(--clr-green);
	/* background: #47c088; */
}
#result {
	color: var(--clr-dark);
	font-size: 5rem;
}
